/* Master Styles */

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;



}
:root{
  --main-header-pb: #daeaf4;
}

/*Nav Styles */
.nav-wrapper {
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
.left-side {
  display: flex;

}
.nav-wrapper > .left-side > div{
margin: 15px;
margin-right: 20px;
font-size: 1.2em;
font-variant: small-caps;
padding-bottom: 8px;
}
.right-side div{
  font-variant: small-caps;
  font-size: 1.5em;
  padding-top: 8px;
}

.logo a{
  text-decoration: none;
  color: #8a8a8a;
}

.logo a:hover {
  color: black;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 2px solid black;
}

.nav-link-wrapper a:hover{
  color: black;
}

/*Portfolio Styles */
/*main content grid */
.portfolio-items-wrapper{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: minmax(120px,550px); */
  grid-template-rows: repeat( auto-fit, minmax(350px, 1fr) );
  grid-template-areas: "portfolio-item-wrapper-header portfolio-item-wrapper-header"
  "portfolio-item-wrapper-1 portfolio-item-wrapper-2" " portfolio-item-wrapper-3 portfolio-item-wrapper-4"
}
.portfolio-item-wrapper-header{
  grid-area: portfolio-item-wrapper-header;
}
.portfolio-item-wrapper-1 {
  grid-area: portfolio-item-wrapper-1;
}
.portfolio-item-wrapper-2 {
  grid-area: portfolio-item-wrapper-2;
}
.portfolio-item-wrapper-3 {
  grid-area: portfolio-item-wrapper-3;
}
.portfolio-item-wrapper-4 {
  grid-area: portfolio-item-wrapper-4;
}

.portfolio-item-wrapper, .portfolio-item-wrapper-header {
  position: relative;
}
/*end of main cotent grid template */
.portfolio-img-background {
  height:350px;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper, .img-text-wrapper-header{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  left: 50% ;
  transform: translate(-50%,0);
  /* z-index: 1; */

}
.logo-wrapper {
  /* max-width: 100%; */
  height: 60%;
}
.logo-wrapper img{
  height: 100%;
  /* max-width: 100%; */
  margin-bottom: 20px;
  padding-top: 5px;
  margin-top: 10%;
}
/* Add img-text-wrapper-header to add header to hover & below & add divs to html*/
.img-text-wrapper .subtitle{
  text-decoration: none;
  transition: 1s;
  color: transparent;
  font-weight: 600;
  margin-top: 15%;

}
.img-text-wrapper a {
    text-decoration: none;
    height: 100%;
}

/* Add img-text-wrapper-header to add header to hover & above & add divs back to html */
.img-text-wrapper:hover .subtitle{
  font-weight: 600;
  color: white;

}
/*header styles */
/* .portfolio-img-background-header,  */
.portfolio-item-wrapper-header{
  height:100%;
  /* max-width: 90%; */
}
.img-text-wrapper-header .subtitle-header{
  /* margin-top: -50; */
  color: grey;
}
.img-text-wrapper-header{
  background-color:var(--main-header-pb);
  /* padding-bottom: 20px; */
}

.subtitle-header{
  font-size: 1.6em;
  width: 60%;
}

.name, .degree {
  font-size: 2em;
  font-weight: bold;
}
/* for javascript */
.hover-darken {
  transition: 1s;
  filter: brightness(20%);
}
